.channels
{
      width: 100%;
      padding: 30px 2%;
      background-color: #060707;
      display: flex;
      box-sizing: border-box;
      column-gap: 10px;
}

.channels > img
{
      border-radius: 5px;
}